#header {
	text-align: center;

	margin: 0 auto;
	width: 100%;

	background-color: $appColor;
	$color: white;

	padding: 0 0.25em 1em;
	margin-bottom: 0.75em;

	color: $color;

	a {
		text-decoration: none;
		color: inherit;
	}

	h1 {
		max-width: $appWidth;
		margin: 0.25em auto;

		font-size: 1.75em;
		font-weight: 600;

		font-feature-settings: 'smcp', 'onum';
	}

	ul {
		@include list-inline;
		max-width: $appWidth;
		margin: 0 auto;

		border: solid 1px $color;
		border-radius: 3px;

		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;

		li {
			flex: 1;
		}

		li + li {
			border-left: solid 1px $color;
		}

		a {
			display: block;
			padding: 0.25em 0.5em;

			&:hover {
				background-color: rgba($color, 0.35);
			}
		}

		.octicon {
			width: 16px;
		}

		.active {
			background-color: $color;
			color: $appColor;

			&:hover {
				background-color: $color;
			}
		}
	}
}
