@mixin table-view {
	border: solid 1px $appColor;
	list-style: none;
	margin: 0;
	padding: 0;
}

.meal-list {
	@include table-view;

	a {
		min-height: 48px;
		display: flex;
		align-items: center;
		padding: 0.25em 0.5em;

		text-decoration: none;
	}

	li + li {
		border-top: solid 1px;
	}

	.starts, .ends {
		flex: 1;
		font-weight: bold;
	}

	.octicon {
		font-size: 2em;
		margin-left: 0.25em;
	}
}
