*, *::before, *::after {
	box-sizing: inherit;
}

.app {
	box-sizing: border-box;

	color: $appColor;

	font-family: sans-serif;

	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;

	margin-bottom: 10vh;
}

a {
	color: $appColor;
}
